<%= form_for [@theater, @showing] do |f| %>
<% if @showing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@showing.errors.count, "error") %> prohibited
        this showing from being saved:
      </h2>
      <ul>
        <% @showing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label for='time'>Select Start Time:</label>

<input type="datetime-local" id="showing[time]"
       name="showing[time]" value="2018-06-12T19:30"
       >
  <%= f.collection_select :movie_id, Movie.all, :id, :name %>
  <%= f.collection_select :screen_id, @theater.screens, :id, :name %>
  <%= f.submit %>
<% end %>
