
  <% @showings.each do |showing| %>
  <h2><%= link_to showing.movie.name, movie_path(showing.movie_id) %></h2>
<ul>
    <li>
      Showing Day - <%= showing.time.strftime("%b %d  - %Y") %>
    </li>
    <li>
      Showing Time - <%= showing.time.strftime("%I:%M %p") %>
    </li>
    <li> <%=if showing.screen.imax %>
          <p>This is an Imax showing!</p>
          <% end %>
     </li>
    <li>
      <%= link_to showing.theater.name, theater_showings_path(showing) %>
      </li>
      <%= button_to "Delete Showing", theater_showing_path(showing.theater,showing),
      method: :delete, data: { confirm: 'Are you sure?!' } %>
    <br>

</ul><% end %>
<h4>Know something we don't know? <%= link_to 'Click here', new_theater_showing_path %> to add another showtime</h4>


