<h2>All Movies</h2>


<!-- <h4> Search by Power </h4>
<%= form_tag(heroines_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
  <% end %> -->

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.name %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to 'Create New Movie', new_movie_path %>
