<h2>All Movies</h2>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <h3><%=link_to movie.name, movie_path(movie), class: "movie_link", id: "#{movie.id}"%></h3>
    </li>
    <li> <% movie.showings.each do |showing| %>
      <%= showing.time %> at <%= showing.theater.name %>. <%= showing.screen.screen_type %><br>

    <% end %>
    <div id="list_showings">
    </div>
    <button type="submit" value="Submit" class="showing_button" data-id="<%= movie.id %>">See Available Showings!</button>
    <br>
    <div id=<%="movie_#{movie.id}_description"%>>

    </div>
    <p> Notice a mistake? <%= link_to 'Click here', edit_movie_path(movie)%> to make a quick change!</p>
    <br>
    <%= button_to "Delete Movie", movies_path,
      method: :delete, data: { confirm: 'Are you sure?!' } %>
  <% end %>
</ul>


<%= link_to 'Create New Movie', new_movie_path %>

<%= javascript_include_tag "list_movie_showing_listener.js" %>
<%= javascript_include_tag "movie_listener.js" %>
