<%= form_with model: @theater, local: true do |form| %>

  <% if @theater.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@theater.errors.count, "error") %> prohibited
        this movie from being saved:
      </h2>
      <ul>
        <% @theater.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
    <%= form.submit %>
  </p>

<% end %>
<%= link_to 'Back', theaters_path %>
