<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to 'Home', controller: 'welcome' %>
  </head>
  <nav><%= link_to 'Theaters', theaters_path %><br>
<%= link_to 'Movies', movies_path %></nav>

  <body>
    <body style="background-color:powderblue;">
    <p style="text-align:center;"><%= yield %></p>

    <br>

  </body>
  <footer><%= button_to "Logout", logout_path, method: :delete %></footer>
</html>
